.container {
    position: relative;
    height: auto;
    text-align: left;
}

.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

img.bgImg {
    padding-top: 60px;
    width: calc(100% - 240px);
}
