
.app {
    max-width: 1300px;
    margin: 0 auto;
}

h2 {
    padding: 0;
    margin: 0;
    font-weight: bolder;
    font-size: 1rem;
    background: -webkit-linear-gradient(left, #0095db, #b8d407);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
